* {
    box-sizing: border-box;
}

.invisible {
    opacity: 0;
}

@font-face {
    font-family: "FuturaCM";
    src: url("../fonts/Futura.ttf") format("truetype");
}

@font-face {
    font-family: "SofiaRegular";
    src: url("../fonts/SofiaProRegular.ttf") format("truetype");
}

@font-face {
    font-family: "SketchOpen";
    src: url("../fonts/KGSecondChancesSketch.ttf") format("truetype");
}

@font-face {
    font-family: "Sketch";
    src: url("../fonts/KGSecondChancesSolid.ttf") format("truetype");
}

h1, h2, h2 {
  letter-spacing: 0.1em;
  color: black;
  font-family: Avenir;
  font-size: 1.6em;
  margin: 0;
  text-transform: uppercase;
}

p {
  font-family: Avenir;
  margin: 0;
  color: grey;
}

a {
  text-decoration: none;
  color: #8ec8b4;
}

#realcontent {
  position: fixed;
  width: 500vw;
  height: 100vh;
  display: flex;
}

#fakecontent {
  height: 300vw;
}

body,
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 5;
}

nav > div {
  display: flex;
  justify-content: space-around;
  padding: 0.5em 40em;
}

.logo {
    width: 6em;
    position: absolute;
    margin: 0.5em;
}

nav a {
    font-family: "SofiaRegular";
    text-decoration: none;
    font-size: 1em;
    color: black;
}

h1 {
  z-index: -2;
  margin: 0;
  transform: rotate(-90deg);
  font-size: 7em;
  display: inline-block;
  letter-spacing: 0.1em;
  margin-top: 2vh;
  font-family: "avenir black";
  color: #8ec8b4;
}

.test {
  width: 70vw;
  /* background-color: rgba(0,0,0,0.2); */
  height: 100vh;
  display: flex;
}

.background {
  background-color: #8ec8b4;
}

.kim {
  width: 50vw;
  /* object-fit: cover; */
}

.mijnwerk {
  padding-top: 20vh;
  display: flex;
  /* overflow-x: auto; */
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.mijnwerk article {
  width: 35vw;
  height: 80vh;
  border: 1em solid white;
  flex-shrink: 0;
  /* background-image: -webkit-linear-gradient(95deg, pink 86%, rgba(0, 0, 0, 0) 0%);
  position: r
  z-index: 2; */
}

/* .mijnwerk article:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
} */

.imgbox {
  background-image: url(../images/BackgroundCanvas.png);
  background-size: 120%;
  background-color: #cccccc;
  height: 75%;
}

.imgbox > a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.imgbox > a img {
  width: 100%;
  object-fit: contain;
}

.hoverimg {
  object-fit: cover !important;
}

.mijnwerk a {
  text-align: center;
  text-decoration: none;
}

.mijnwerk section {
  /* margin-top: -10vh; */
  position: relative;
  z-index: 2;
  /* background-image: -webkit-linear-gradient(93deg, white 60%, rgba(0, 0, 0, 0) 0%); */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1); */
}

.mijnwerk h2 {
  letter-spacing: 0.1em;
  color: black;
  font-family: Avenir;
  font-size: 1.6em;
  margin: 0;
  padding-top: 2vh;
  transition: 0.3s;
}














/* DETAILPAGINA */

.firstfotodiv {
  height: 75vh;
  width: 100vw;
  overflow: hidden;
  position: fixed;
  z-index: -2;
  background: url(../images/dinner2.jpg) no-repeat center 90%;
  background-size: cover;
  opacity: 1;
  transform: 2s ease;
}

.opacity {
  opacity: 0.8;
}

.maindetail {
  background-image: -webkit-linear-gradient(95deg, white 86%, rgba(0, 0, 0, 0) 0%);
  background-size: 120%;
  position: absolute;
  z-index: 0;
  width: 100vw;
  padding-left: 15vw;
  padding-right: 15vw;
  margin-top: 50vh;
  height: 150vh;
  padding-top: 30vh;
}

.projectinfo {
  margin-top: 2vh;
  display: flex;
  justify-content: space-between;
}

.projectinfo div p:nth-of-type(1) {
  font-size: 1.1em;
  font-weight: bold;
  color: #8ec8b4;
}

h3 {
  position: absolute;
  font-size: 6em;
  margin-top: -4vh;
  margin-left: -4vw;
  z-index: -1;
  -webkit-text-stroke: 0.5px #8ec8b4;
  -webkit-text-fill-color: white;
}

.introdiv {
  display: flex;
  justify-content: space-between;
}

.introdiv h2 {
  font-size: 2em;
}

.introdiv article:nth-of-type(1) {
  width: 30%;
}

.introdiv article:nth-of-type(2) {
  width: 60%;
}

.introdiv article:nth-of-type(2) p {
  margin-bottom: 4vh;
}

.button {
  background-color: #8ec8b4;
  padding: 1em;
  border-radius: 0.5em;
  text-decoration: none;
  color: black;
  font-family: "avenir";
  transform: 0.5s ease;
}

.button:hover {
  background-color: #aee3d1;
}

.stijl {
  display: flex;
  justify-content: space-between;
  margin-top: 15vh;
}

.stijl div:nth-of-type(1) {
  width: 50%;
  height: 50vh;
  background-color: pink;
}

.stijl img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.stijl article {
  width: 40%;
}

















/* RESPONSIVE */

@media (min-width: 20em) and (max-width: 47em) {

  .imgbox {
    height: 70%;
  }

  .mijnwerk article:nth-of-type(1) > div {
    background: url(../images/dinnerb.png) no-repeat center center;
    background-size: cover;
  }

  .mijnwerk article:nth-of-type(2) > div {
    background: url(../images/enjoinb.png) no-repeat center center;
    background-size: cover;
  }

  .mijnwerk article:nth-of-type(3) > div {
    background: url(../images/artb.png) no-repeat center center;
    background-size: cover;
  }

  .mijnwerk article:nth-of-type(4) > div {
    background: url(../images/etnischprofilerenb.png) no-repeat center center;
    background-size: cover;
  }

  .mijnwerk article:nth-of-type(5) > div {
    background: url(../images/schoenenb.png) no-repeat center center;
    background-size: cover;
  }

  .mijnwerk article:nth-of-type(6) > div {
    background: url(../images/wittewebsiteb.png) no-repeat center center;
    background-size: cover;
  }

  .mijnwerk article:nth-of-type(7) > div {
    background: url(../images/extrab.png) no-repeat center center;
    background-size: cover;
  }

  .mijnwerk article:nth-of-type(8) > div {
    background: url(../images/nemob.png) no-repeat center center;
    background-size: cover;
  }

  .mijnwerk article:nth-of-type(9) > div {
    background: url(../images/orcab.png) no-repeat center center;
    background-size: cover;
  }

  .imgbox a img {
    display: none;
  }

  #fakecontent {
    height: 1000vw;
  }

  .mijnwerk article {
      width: 85vw;
  }

  .mijnwerk h2 {
    font-size: 2em;
  }

}
